<nav class="navbar navbar-light navbar-expand-lg navigation-clean sticky-top" style="background-color: #e3f2fd;">
        <div class="container"><a class="navbar-brand" href="#">GrowWell</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link " href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                    <li class="nav-item dropdown">
                       

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle fa-lg"></i>
                          </a>

                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Profile <i class="fa fa-user"></i></a><a class="dropdown-item" href="#">Change Password <i class="fa fa-key"></i></a><a class="dropdown-item" href="#">Logout <i class="fa fa-sign-out"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 