
.form-group{
    padding:10px;
}

.form-control{
    width:300px;
}

.heading{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
 }

.container{
    margin-top: 10%;
}