.form-group {
    padding: 10px;
}

.form-control {
    width: 300px;
}

.form {
    display: flex;
    justify-content: center;
}

.invalidCredentials {
    background-color: red;
    text-align: center;
    color: white;
}

.spacer {
    display: flex;
    gap: 50px;
}

.form-check{
    margin-left: -30px !important;
}

.spacer-2 {
    display: flex;
    gap: 40%;
}

.disabled {
    cursor: not-allowed;
}

.card-img-overlay{
    height: 100% !important;
}

.card {
    opacity: 0.8;
    color: #000000;
}