<div class="container">
    <div class="card text-black bg-light mb-3 px-4 py-2">

        <div class="row">
            <div class="col py-2">
                <h5><b>Cart:</b></h5>
            </div>
            
        </div>

        <div class="row px-2 py-2">

            <div class="col">
                <div class="row">
                    Unique fund(s):
                </div>
                <div class="row">
                    Total quantity(s):
                </div>
                <div class="row">
                    Total payable amount:
                </div>
            </div>

        </div>

        <div class="row ">
            <div class="col-auto">
                <button type="button" class="btn btn-outline-success">Checkout</button>
            </div>
            <!-- <div class="col-auto">
                <button type="button" class="btn btn-outline-warning">Add to watchlist</button>
            </div> -->
            <div class="col-auto">
                <button type="button" class="btn btn-outline-danger">Clear all</button>
            </div>
        </div>

        <hr>

        <div class="row py-3">
            <div class="col-auto">
                <div class="row">
                    //options adding more quantities and deleting (+ and -)
                </div>

            </div>
        </div>

    </div>
</div>
