<div class="d-flex justify-content-around flex-wrap align-content-sm-center py-5">

    <div class="d-flex flex-column py-3">
        <app-filters></app-filters>
    </div>

    <div class="d-flex flex-column py-2">
        <div class="container" *ngFor="let fund of funds">
            <div class="card text-black bg-light mb-3 px-4 py-2">

                <div class="row">
                    <div class="col py-2">
                        <h5><b>{{fund.scheme_name}}</b></h5>
                    </div>
                </div>

                <div class="row px-3 py-3">

                    <div class="col-6">
                        <div class="row">
                            Code: {{fund.scheme_code}}
                        </div>
                        <div class="row">
                            Category: {{fund.fund_category}}
                        </div>
                        <div class="row">
                            Min. Investment: {{fund.min_investment}}
                        </div>
                        <div class="row">
                            3-year CAGR: {{fund.cagr}}
                        </div>
                    </div>


                    <div class="col-auto py-2">
                        //graph
                    </div>

                </div>

                <div class="row py-3">
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-success">+ LUMPSUM</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-success">+ SIP</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-warning">+ WATCHLIST</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="d-flex flex-column py-3">
        <app-portfolio></app-portfolio>
        <app-cart></app-cart>
    </div>

</div>