<app-header></app-header>

<h1 align="center" class="py-5"> Mutual Funds </h1>

<div class="container">
    <div class="row py-1 mt-4">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <app-filters (sendFundData)="getFundData($event)"></app-filters>
        </div>


        <div class="col-md-7 col-lg-7 ml-auto">

            <div class="container" *ngIf="!recievedData">
                <div class="card text-black bg-light mb-3 px-4 py-2">

                    <div class="row">
                        <div class="col py-2">
                            <h5><b>Choose your filters and click search</b></h5>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container" *ngFor="let fund of funds">
                <div class="card text-black bg-light mb-3 px-4 py-2">

                    <div class="row">
                        <div class="col py-2">
                            <h5><b>{{fund.name}}</b></h5>
                        </div>
                    </div>

                    <div class="row px-3 py-3">

                        <div class="col-6">

                            <div class="row">
                                Scheme-code: {{fund.code}}
                            </div>
                            <div class="row">
                                Category: {{fund.type}}
                            </div>
                            <div class="row">
                                Current value(NAV): {{fund.nav}}
                            </div>
                            <div class="row">
                                Last updated on: {{fund.last_update}}
                            </div>
                            <div class="row">
                                3 year CAGR: {{fund.cagr}} %
                            </div>
                            <div class="row">
                                Min. Investment: {{fund.min_investment}}
                            </div>
                        </div>

                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                data-bs-target="#buyModal" (click)="onBuy(fund)"> BUY</button>
                        </div>



                    </div>

                </div>
            </div>


            <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel"
                aria-hidden="true" data-bs-backdrop="static" *ngIf="modalOpened">
                <div class="modal-dialog" role="document">
                    <app-modal [fund_data]="modalInject"></app-modal>
                </div>
            </div>


        </div>
    </div>
</div>
