<form [formGroup]="form" (ngSubmit)="onBuy()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">Buy <b>{{fund_name}}</b></h5>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    Current value(NAV): {{fund_nav | number:"1.0-3"}}
                </div>
                <div class="row">
                    3 year CAGR: {{fund_cagr}} %
                </div>
                <div class="row">
                    Min. Investment: {{fund_min_investment}}
                </div>
            </div>
            <br>

            <div class="row">

                <div class="col-auto">
                    <button type="button" class="btn btn-danger" (click)="decrement()">-</button>
                </div>
                <div class="col-auto">
                    <input type="text" name="quantity" disabled class="form-control input-number" value="{{quantity}}" size="1"
                        formControlName="qty">
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-success" (click)="increment()">+</button>
                </div>

            </div>

            <br>
            <b style="color:red;" *ngIf="validateQty()"> Quantity can't be less than 1 </b>
            <b *ngIf="!validateQty()">Total payable amount:{{net_amt | number:"1.0-3"}}</b>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">Close</button>
            <div class="disabled">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="validateQty()">Buy</button>
            </div>
        </div>
    </div>
</form>