<div class="container-flex container1">
    <div class="card text-center ">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/stock">Holdings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/buy">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/sell">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/history">History</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div>
                <h5 class="card-title">Stocks Traded</h5>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th scope="col">S.no</th>
                            <th scope="col" style="max-width: 5px;">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col" style="max-width: 5px;">Quantity</th>
                            <th scope="col" style="max-width: 10px;">Type</th>
                            <th scope="col" style="max-width: 10px;" *ngIf="displayPriceForLimitOrder">Limit</th>
                            <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>
                                <div class="dropdown">
                                    <div id="myDropdown" class="dropdown-content">
                                        <input list="stoc" type="text" [(ngModel)]="searchInput" id="myInput" (mousedown)="fetchSeries()" (change)="datecalled()">
                                        <datalist id="stoc">
                                            <option *ngFor="let sd of searchResult" >{{sd.name}}</option>
                                        </datalist >
                                    </div>
                                </div>
                            </td>
                            <td>{{price}}</td>
                            <td >
                                <div class="number-input">
                                    <button  (click)="subQuantity()"></button>
                                    <input class="quantity" id="quantity" name="quantity" value="1" type="number" [(ngModel)]="Quantity" min="1">
                                    <button  class="plus" (click)="addQuantity()"></button>
                                </div>
                            </td>
                            <td ><select class="limit" (change)="onOrderTypeChange(myInput.value)"  #myInput>
                            <option value="market" selected class= "limit">Market Order</option>
                            <option value="limit" class= "limit" #limit >Limit Order</option>
                          </select></td>
                          <td *ngIf="displayPriceForLimitOrder">
                            <div class="number-input">
                                <button  (click)="subLimit()"></button>
                                <input class="quantity" id="price" min="0" name="quantity" type="number" [(ngModel)]="Limit">
                                <button  class="plus" (click)="addLimit()"></button>
                            </div>
                        </td>
                        <td *ngIf="!displayPriceForLimitOrder">{{price * Quantity}}</td>
                        <td *ngIf="displayPriceForLimitOrder">{{Limit * Quantity}}</td>
                        </tr> 

                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col" style="text-align: right;">
                    <button class="btn btn-primary" style="font-size: 18px;" data-bs-toggle="modal" data-bs-target="#popup">BUY</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="popup" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Conform Buy</h2>
                    <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">S.no</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Type</th>
                                <th scope="col" *ngIf="displayPriceForLimitOrder">Req Price</th>
                                <th scope="col" *ngIf="!displayPriceForLimitOrder">Cost</th>
                                <th scope="col" *ngIf="displayPriceForLimitOrder">Req Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th>1</th>
                            <td>{{fullName}}</td>
                            <td>{{price}}</td>
                            <td>{{Quantity}}</td>
                            <td> {{ordType}} </td>
                            <td *ngIf="displayPriceForLimitOrder">{{Limit}}</td>
                            <td *ngIf="!displayPriceForLimitOrder">{{price * Quantity}}</td>
                            <td *ngIf="displayPriceForLimitOrder">{{Limit * Quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onBuyFormSubmit()">BUY</button>
                </div>
            </div>
        </div>
    </div>
</div>