
    
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  
                    Menu
                    <i class="fa fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Our Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading" >Welcome To GrowWell!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Have You</div>
                <a class="btn btn-outline-primary btn-xl text-uppercase" href="login">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>&nbsp;
                <a class="btn btn-outline-danger  btn-xl text-uppercase" href="register">Sign Up <i class="fa fa-user-plus"  aria-hidden="true"></i></a>
            </div>
        </header>

        <section class="py-5" id="services">
          <div class="container">
            <div class="text-center">
              <h1 class="section-heading text-uppercase">Services We Offer</h1>
              <!-- <h3 class="section-subheading text-muted">We provide variety of services for our financial customers.</h3> -->
          </div>
            <div class="row">
              <div class="col">
                
                <div
                  class="text-center"
                  
                >
                  <img
                    class="img-fluid"
                    src="/assets/images/home/about-page-img1.jpg"
                    alt="..." width="700px"
                  />
                </div>
              </div>
              <div class="col" style="margin-top: 5em;">
                <div class="row row-cols-1 row-cols-md-2">
                  <div class="col">
                    <div class="d-flex-center pr-svg-container">
                      <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                    <h2 class="h5 font-weight-bold">Advice</h2>
                    <p class="mb-0">
                      We provide financial advisory services for corporations and
                      institutional customers.
                    </p>
                  </div>
                  <div class="col mb-5 h-100">
                    <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                  </span>
                    <h2 class="h5 font-weight-bold">Trading</h2>
                    <p class="mb-0">
                      Our app provides best in class for your investments banking
                      needs by providing access to edge connectivity to exchanges.
                    </p>
                  </div>
                  <div class="col mb-5 mb-md-0 h-100">
                    <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                  </span>
                    <h2 class="h5 font-weight-bold">Management</h2>
                    <p class="mb-0">
                      Our mutual funds, wealth management options will bring your
                      dreams to reality.
                    </p>
                  </div>
                  <div class="col h-100">
                    <span class="fa-stack fa-1x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-money fa-stack-1x  fa-inverse"></i>
                  </span>
                    <h2 class="h5 font-weight-bold">Capitalization</h2>
                    <p class="mb-0">
                      We leverage best in class engineering, humanitarian and
                      financial knowledge to provide innovative capital raising
                      strategies.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Comprising of Associates each with a Different Skill Set.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/assets/images/home/team/ankit.png" alt="..." />
                            <h4>Ankit Bhatia</h4>
                            <p class="text-muted"></p>
                            <a class="btn btn-dark btn-social mx-2" href="mailto:ankit.bhatia1220@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://github.com/ankit1222000" target="_blank"><i class="fa fa-github"></i></a>
                           
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ankit-bhatia12/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://bhatiaankit.in" target="_blank"><i class="fa fa-globe"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/assets/images/home/team/manoj.jpg" alt="..." />
                            <h4>Manoj Hosmath</h4>
                            <p class="text-muted"></p>
                            <a class="btn btn-dark btn-social mx-2" href="mailto:manojhosmath.work@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://github.com/virtualmanu" target="_blank"><i class="fa fa-github"></i></a>
                           
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/manojhosmath2/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="/assets/images/home/team/suriya.jpeg" alt="..." />
                            <h4>Suriya Narasimman</h4>
                            <p class="text-muted"></p>
                            <a class="btn btn-dark btn-social mx-2" href="mailto:suriyanarasimman@outlook.com" target="_blank"><i class="fa fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://github.com/suriyanarasimman/GrowWell" target="_blank"><i class="fa fa-github"></i></a>
                           
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/s-suriya-narasimman" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        

        <!-- Contact-->
        <section class="page-section" id="contact">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Contact Us</h2>
                  <h5 class="section-heading ">Drop Us a Message for any Query.</h5>
              </div>
            
              <form id="contactForm" [formGroup]="contactForm" (ngSubmit)="sendContactUs()">
                  <div class="row align-items-stretch mb-5">
                      <div class="col-md-6">
                          <div class="form-group">
                              <!-- Name input-->
                              <input class="form-control"  (click)="reset()" required="required" id="name" type="text" placeholder="Your Name *"  formControlName="username"/>
                              <!-- <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div> -->
                          </div>
                          <div class="form-group">
                              <!-- Email address input-->
                              <input class="form-control"  (click)="reset()" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required="required" id="email" type="email" placeholder="Your Email *" formControlName="email"/>
                              
                          </div>
                          <div class="form-group mb-md-0">
                              <!-- Phone number input-->
                              <input class="form-control"  (click)="reset()" required="required" id="phone" type="tel" placeholder="Your Phone *"  maxlength="10" formControlName="phone"/>
                              
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group form-group-textarea mb-md-0">
                              <!-- Message input-->
                              <textarea class="form-control"  (click)="reset()" required="required" id="message" placeholder="Your Message *" formControlName="message" ></textarea>
                              
                          </div>
                      </div>
                  </div>
            
                  <div  id="submitSuccessMessage" *ngIf="isAdded" >
                      <div class="text-center text-white mb-3">
                        
                        <div class="fw-bolder">
                          <img src="/assets/images/home/tick.gif">
                        </div>
                        
                          <div class="fw-bolder h3 text-center text-success">Form Submission Successful!</div>
                          
                         
                      </div>
                  </div>
                 
                  <div  id="submitErrorMessage" *ngIf="isError" >
                    <div class="text-center text-danger mb-3"><img src="/assets/images/home/error.gif" height="150px"></div>
                    <div class="text-center h3 text-danger mb-3">Error Sending Message!</div>
                  </div>
                  <!-- Submit Button-->
                  <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase " id="submitButton" type="submit" [disabled]="!contactForm.valid">Send Message</button></div>
              </form>
          </div>
      </section>
      <!-- Footer-->
      <footer class="footer py-4">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-4 text-lg-start">Copyright &copy; GrowWell 2022</div>
                  <div class="col-lg-4 my-3 my-lg-0">
                      <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://github.com/suriyanarasimman/GrowWell"><i class="fa fa-github"></i></a>

                      <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-instagram"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fa fa-linkedin"></i></a> -->
                  </div>
                  <div class="col-lg-4 text-lg-end">
                      <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                      <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                  </div>
              </div>
          </div>
      </footer>
     
     
        
        
        
        
    
        
   
