<div class="container">
    <div class="card text-black bg-light mb-3 px-4 py-2">
        <div class="row">
            <div class="col-9 py-1">
                <h4><b>Portfolio</b></h4>
            </div>
            <div class="col">
                <div class="btn" (click)="refresh()">
                    <i class="fa fa-refresh"></i>
                </div>
            </div>
        </div>
        <br>

        <div *ngIf="funds.length==0">
            It's too empty. Buy some mutual funds.
        </div>

        <div class="container fixSize">
            <div class="row fundHover" *ngFor="let fund of funds">
                Fund Name: {{fund.fundName}}
                <br>
                Invested Amount: {{fund.investmentAmount}}
                <br>
                Invested Date: {{fund.registrationDate}}
                <hr>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="row py-3">
    <div class="col-auto">
        <button type="button" class="btn btn-outline-success">Add funds</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-danger">Withdraw funds</button>
    </div>
</div>

<hr>

<div class="row px-2 py-2">

    <div class="col">
        <div class="row">
            Invested Amount:
        </div>
        <div class="row">
            Current Amount:
        </div>
        <div class="row">
            Average Returns:
        </div>
        <div class="row">
            Next-SIP:
        </div>
    </div>

</div>

<div class="row py-3">
    <div class="col-auto">
        <button type="button" class="btn btn-outline-primary">See full portfolio</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-warning">See my watchlist</button>
    </div>
</div> -->